/********** Template CSS **********/
:root {
    --primary: #0741ad;
    --secondary: #9B9B9B;
    --light: #F5F5F5;
    --dark: #161616;
}

/* body{
    background-color:#fff ;
} */

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

/* .navbar .navbar-brand {
    height: 75px;
} */

.navbar .navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 30px;
    /* padding: 25px 0; */
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #0741ad;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}


/*** Header ***/
.header-carousel .carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(22, 22, 22, .4);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    width: 280px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: #0741ad;
    border-color: #0741ad;
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #FFFFFF;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: #0741ad;
    border-color: #042a70;
}

.page-header {
    background: linear-gradient(rgba(22, 22, 22, 0.945), rgba(22, 22, 22, 0.932)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}


.page-headers {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, .7), rgba(22, 22, 22, .7)), url(../img/aboutus.jpg) center center no-repeat;
    background-size: cover;
}

.page-headerss {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, .7), rgba(22, 22, 22, .7)), url(../img/contact..jpg) center center no-repeat;
    background-size: cover;
}


.page-headerr {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, .7), rgba(22, 22, 22, .7)), url(../img/Career.jpg) center center no-repeat;
    background-size: cover;
}



.page-header3 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, .7), rgba(22, 22, 22, .7)), url(../img/storage1.jpg) center center no-repeat;
    background-size: cover;
}

.page-headerrs {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), url(../img/Consumer-Electronics.jpg) center center no-repeat;
    background-size: cover;
}

.page-header2 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), url(../img/IoT.jpg) center center no-repeat;
    background-size: cover;
}



.page-header1 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/EdgeComputingbanner.jpg) center center / cover no-repeat;
    background-size: cover;
}

.page-header8 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/Kernel-Engineering.jpg) center center / cover no-repeat;
    background-size: cover;
}


.page-header9 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/Hardware-Product-Engineering.jpg) center center / cover no-repeat;
    background-size: cover;
}


.page-header10 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/software.jpg) center center / cover no-repeat;
    background-size: cover;
}


.page-header11 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/bug.jpg) center center / cover no-repeat;
    background-size: cover;
}


.page-header13 {
    min-height: 340px; /* Default height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22, 0.212), rgba(22, 22, 22, 0.329)), 
    url(../img/electronic.jpg) center center / cover no-repeat;
    background-size: cover;
}



.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service ***/
.service-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-item {
    border-color: rgba(0, 0, 0, .03) !important;
}

.service-item .btn {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 38px;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.portfolio-inner img {
    transition: .5s;
}

.portfolio-inner:hover img {
    transform: scale(1.1);
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: .5s;
}

.portfolio-inner:hover .portfolio-text {
    bottom: 0;
    opacity: 1;
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Team ***/
.team-item {
    border-bottom: solid #0741ad;
     box-shadow: 0 0 50px rgba(0, 0, 0, .10);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .team-social {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(22, 22, 22, .7);
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    opacity: 0;
}

.team-item:hover .team-social .btn {
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    border-radius: 60px;
    opacity: .4;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

/* start */


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


/* @media (min-width: 992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 38.333333%;
        max-width: 38.333333%;
    }
} */



.service-thumb {
    position: relative;
    z-index: 1;
}


.service-icon {
    position: absolute;
    bottom: -17px;
    right: 20px;
    width: 98px;
    height: 88px;
    border-radius: 5px;
    filter: drop-shadow(0px 1px 25.5px rgba(0, 0, 0, 0.11));
    background-color: #ffffff;
    text-align: center;
    line-height: 83px;
    z-index: 1;
}


.service-single-box {
    position: relative;
}



.Lifesafe-btn.service {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.Lifesafe-btn {
    display: inline-block;
}


.Lifesafe-btn.service a {
    width: 185px;
    height: 52px;
    border-radius: 5px;
    padding: 0;
    line-height: 52px;
    text-align: center;
}


.Lifesafe-btn a {
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    font-family: "Raleway";
    background: #405e60;
    text-decoration: none;
    padding: 16px 27px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .Lifesafe-btn a {
        padding: 16px 15px;
    }
}

.service-single-box {
    position: relative;
}


.cameras {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #e7e7e7;
}

.titlepage h2 {
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    color: #2f2f2f;
    text-transform: uppercase;
}

.container-max {
    max-width: 1500px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
    clear: both;
}



.row {
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cameras_text {
    box-shadow: rgba(50, 50, 93, 0.30) 10px 50px 100px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: center;
    margin-top: 30px;
    background: #f7f7f7;
    padding: 28px 0 40px 0;
    border-radius: 50px;
    transition: ease-in all 0.5s;
}

.text_align_center {
    text-align: center;
}

.cameras_img figure {
    margin: 0;
}

.see_camera {
    margin-bottom: 70px;
}

.cameras_text .read_more {
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    max-width: 128px;
    height: 38px;
    line-height: 38px;
    transition: ease-in all 0.5s;
}

#ho_bg:hover.cameras_text {
    background: #0741ad;
    transition: ease-in all 0.5s;
    cursor: pointer;
}

#ho_bg:hover.cameras_text p {
    color: #fff;
    transition: ease-in all 0.5s;
}

#ho_bg:hover.cameras_text p span {
    color: #fff;
    transition: ease-in all 0.5s;
}

#ho_bg:hover.cameras_text h3 {
    color: #fff;
    transition: ease-in all 0.5s;
}

#ho_bg:hover.cameras_text .read_more {
    background: #fff;
    color: #000;
    transition: ease-in all 0.5s;
}

.see_camera .read_more {
    margin: 0 auto;
    display: block;
    margin-top: 80px;
}




.cameras_img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    /* Adjust circle size */
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    /* Light grey/transparent */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.cameras_img {
    position: relative;
    display: inline-block;
}


.cameras_img img {
    transition: transform 0.4s ease-in-out;
    /* Smooth and gradual scaling */
}

.cameras_img:hover img {
    transform: scale(1.1);
    /* Scale up smoothly on hover */
}



@media (max-width: 768px) {
    .feature-text {
        padding: 20px !important;
    }

    .feature-text::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/aboutbackground.jpg');
        background-size: cover;
        background-position: center;
        z-index: -1;
    }



    @media (max-width: 768px) {


        .cameras .row {
            justify-content: center;
        }

        .cameras_text {
            text-align: center;
            padding: 15px;
            margin-bottom: 20px;
        }

        .cameras_text h4 {
            font-size: 1.2rem;
        }

        .cameras_text p {
            font-size: 0.9rem;
        }

        .col-md-3 {
            width: 100%;
        }

        .cameras_img img {
            max-width: 80%;
            height: auto;
        }
    }


    @media (min-width: 768px) {
        .container.feature {
            max-width: 100% !important;
        }
    }

}


.owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  .owl-dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  .owl-dot.active {
    background: #0b52d8; /* Active dot color */
  }
  

  .custom-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  .custom-nav button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #0b52d8;
    font-weight: bold;
  }
  .prev-arrow {
    position: absolute;
    left: -40px;
  }
  .next-arrow {
    position: absolute;
    right: -40px;
  }


  /* Adjust text alignment for smaller screens */
  @media (max-width: 768px) {
    #aboutline{align-items: center;}
    .text-md-start { text-align: center !important; }
}

/* Ensure image resizes properly */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Box shadow for the image */
.shadow-lg {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, 
                rgba(0, 0, 0, 0.12) 0px -5px 10px, 
                rgba(0, 0, 0, 0.12) 0px 2px 4px, 
                rgba(0, 0, 0, 0.17) 0px 5px 7px, 
                rgba(0, 0, 0, 0.09) 0px -1px 3px;
}

@media (max-width: 768px) {
    #aboutline {
      margin: 0 auto; /* Centers the line */
      display: block;
    }
  }


  @keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.712);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 123, 255, 0.8);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.pulsing-btn {
    animation: pulse 1.5s infinite ease-in-out;
}


/* logo slider starts */
.logos {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
    background: #f8f9fa;
}
.logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 100px;
    height: 100%;
    z-index: 2;
}
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
}
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
}
.logo_items {
    display: flex;
    gap: 20px;
    animation: 20s slides infinite linear;
}
.logos:hover .logo_items {
    animation-play-state: paused;
}
.logo_items img {
    height: 80px;
    max-width: 100%;
}
@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-60%);
    }
}
@media (max-width: 768px) {
    .logo_items {
        gap: 10px;
        animation-duration: 30s;
    }
    .logo_items img {
        height: 60px;
    }
    .logos:before, .logos:after {
        width: 50px;
    }
}


/* logo slider end */
.dropdown-menu {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none; /* Removes default border */
}

/* Add lines (borders) between dropdown items */
.dropdown-menu .dropdown-item {
    border-bottom: 1px solid #dddddd; /* Light grey line */
    padding: 10px 15px;
}




/* test start */




/* start end */

.bandeau {
    background-color: rgb(211, 211, 211); /* Black background */
    text-align: center;
    font-size: 22px;
    color: rgb(17, 17, 17);
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .banner-body {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeUp 3s infinite both;
    gap: 10px;
  }
  
 
  
  .bandeau-new {
    font-size: 22px;
    color: #0528f1; /* Gold color for attention */
    animation: spanNew 3s infinite both;
  }
  
  .bandeau-text {
    animation: spanText 3s infinite both;
  }
  
  @keyframes truck {
    0% {
      transform: translateX(-40px);
      opacity: 0;
    }
    6%, 100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes spanNew {
    0%, 5% {
      transform: translateX(-30px);
      opacity: 0;
    }
    15% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes spanText {
    0%, 10% {
      transform: translateY(-20px);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeUp {
    0% {
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .bandeau {
      font-size: 16px;
      padding: 15px;
    }
  
  }
  
  @media (max-width: 480px) {
    .bandeau {
      flex-direction: column;
      text-align: center;
      font-size: 14px;
    }
    img {
      width: 25px;
      margin-bottom: 10px;
    }
  }
  

  /* Background Animation */
@keyframes backgroundAnimation {
    0% { background: #ebeaea }
    50% { background: #9b9b9b; }
    100% { background: #bdbdbd; }
}

.bandeau {
    animation: backgroundAnimation 5s infinite alternate;
}